{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="/authentication/user_login" method="POST">
    {% csrf_token %}
    <h1>Login Form</h1>
    <br>
    {{ form.as_p }}
    <br>
    <button type="submit" value="Submit">Login</button>
</form>
<p style="color: red;">{{ error_msg }}</p>
</body>
</html>
{% endblock content %}
