{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Transaksi Upgrade Lumbung</title>
  </head>
  <body>
    <table>
      <tr>
        <th>No</th>  
        <th>Nama Penggguna</th>
        <th>Tanggal Update</th>
      <!-- TODO loop from Friend model -->
      {% for lumbung in daftar_transaksi_upgrade_lumbung %}
      </tr>
        <td>{{  forloop.counter }}</td>
        <td>{{  lumbung.0 }}</td>
        <td>{{  lumbung.1 }}</td>
      </tr>
      {% endfor %}
    </tr>
    </table>
  </body>
</html>
{% endblock content %}