{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Paket Koin</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    <h1>Upgrade Lumbung</h1>
    <br>
    <p>Level Lumbung: {{ level }} -> {{ level_update }}</p>
    <P>Kapasitas Maksimal: {{ kapasitas_maksimal }} -> {{ kapasitas_update }}</P>
    <P>Jumlah pembayaran: 200</P>
    <br>
    <button type="submit" value="Submit">Update</button>
</form>
</body>
</html>
{% endblock content %}