{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<br>
{% if request.session.role == 'admin' %}
    <h6 style="color:red" >Logged in as Admin</h6>
    <br>
    {% for data in biodata %}
        <table>
            <tr>
                <th>Email:</th>
                <td>{{ data.0 }}</td>
            </tr>
        </table>
    {% endfor %}

{% else %}
    {% for data in biodata %}
        <h6 style="color:red" >Logged in as Pengguna</h6>
        <br>
        <table>
            <tr>
                <th>Email:</th>
                <td>{{ data.0 }}</td>
            </tr>
            <tr>
                <th>Nama area pertanian:</th>
                <td>{{ data.1 }}</td>
            </tr>
            <tr>
                <th>XP:</th>
                <td>{{ data.2 }}</td>
            </tr>
            <tr>
                <th>Koin:</th>
                <td>{{ data.3 }}</td>
            </tr>
            <tr>
                <th>Level:</th>
                <td>{{ data.4 }}</td>
            </tr>
        </table>
    {% endfor %}
{% endif %}

</body>
</html>
{% endblock content %}