{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrasi Pengguna</title>
    <style>
        .error {
            animation: shake 0.3s;
        }
        @keyframes shake {
            0% { transform: translate(1px, 1px); }
            10% { transform: translate(-1px, -2px); }
            20% { transform: translate(-3px, 0px); }
            30% { transform: translate(3px, 2px); }
            40% { transform: translate(1px, -1px); }
            50% { transform: translate(-1px, 2px); }
            60% { transform: translate(-3px, 1px); }
            70% { transform: translate(3px, 1px); }
            80% { transform: translate(-1px, -1px); }
            90% { transform: translate(1px, 2px); }
            100% { transform: translate(1px, -2px); }
        }
    </style>
</head>
<body>
<div class='container1'>
    <form action="" method="post">
        {% csrf_token %}
        <h1>Create akun Pengguna</h1>
        <br>
        {{form.as_p}}
        <br>
        <button type="submit" value="Submit">register</button>
    </form>
    {% if error %}
    <h6 class="error" style="color:red" >registration failed</h6>
    {% endif %}
</div>
</body>
</html>
{% endblock content %}