{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Produk</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    <h1>Create produk</h1>
    <br>
    {{create_produk_form.as_p}}
    <br>
    <button type="submit" value="Submit">create</button>
</form>
</body>
</html>
{% endblock content %}