{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Read Produk</title>
</head>
<body>
<h1>List produk</h1>
<br>
<table>
    <thead>
    <tr>
        <th>No.</th>
        <th>Jenis</th>
        <th>Nama</th>
        <th>Harga Jual</th>
        <th>Sifat Produk</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for produk in daftar_produk %}
    <tr>
        <td style="text-align: center">{{ forloop.counter }}</td>
        <td>{{ produk.0 }}</td>
        <td>{{ produk.1 }}</td>
        <td style="text-align: center">{{ produk.2 }}</td>
        <td>{{ produk.3 }}</td>
        <td><a href="{{produk.4}}/update">Update</a><br>
            {% if produk in deletable %}
            <a href="{{produk.4}}/delete">Delete</a></td>
            {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
{% endblock content %}