{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <h3>Create Histori Tanaman</h3>
  </head>
  <body>
    <p>
    <table>
     <form action="" method="POST">
        {% csrf_token %}
         <p><label>Bibit Tanaman</label>
            <select name="bibit_tanaman">
                <option value="">- Pilih Bibit -</option>
                {% for bibit in bibit_tanaman %}
                <option value="{{bibit.0}}">{{ bibit.1 }}</option>
                {% endfor %}
            </select>
         </p>
         <p>
         <label for="jumlah">Jumlah Bibit:</label>
         <input type="number" id="jumlah" name="jumlah">
         </p>
         <label for="xp">XP: </label>
         <ti id="xp" name="xp">5</ti>
         <p><button type="submit" value="Submit">Produksi</button></p>
     </form>
     <p style="color: red;">{{ error_msg }}</p>
    </table>
    <script>
        document.getElementById("xp").innerHTML = document.getElementById("jumlah").value * 5;
        </script>
    </p>
  </body>
</html>
{% endblock content %}