{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Histori Tanaman</title>
  </head>
  <body>
    <table>
      <tr>
        <th>No</th>  
        <th>Waktu Awal</th>
        <th>Bibit Tanaman</th>
      <!-- TODO loop from Friend model -->
      {% for histori in histori_tanaman %}
      </tr>
        <td>{{  forloop.counter }}</td>
        <td>{{  histori.1 }}</td>
        <td>{{  histori.2 }}</td>
      </tr>
      {% endfor %}
    </tr>
    </table>
  </body>
</html>
{% endblock content %}