{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Histori Produksi Makanan</title>
    <style>
        .error {
            animation: shake 0.3s;
        }
        @keyframes shake {
            0% { transform: translate(1px, 1px); }
            10% { transform: translate(-1px, -2px); }
            20% { transform: translate(-3px, 0px); }
            30% { transform: translate(3px, 2px); }
            40% { transform: translate(1px, -1px); }
            50% { transform: translate(-1px, 2px); }
            60% { transform: translate(-3px, 1px); }
            70% { transform: translate(3px, 1px); }
            80% { transform: translate(-1px, -1px); }
            90% { transform: translate(1px, 2px); }
            100% { transform: translate(1px, -2px); }
        }
    </style>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    <h1>Create Histori Produksi Makanan</h1>
    <br>
    {{create_histori_produksi_makanan_form.as_p}}
    <br>
    <button type="submit" value="Submit">create</button>
</form>
{% if error != null %}
<h6 class='error' style="color:red">{{error}}</h6>
{% endif %}
</body>
</html>
{% endblock content %}