{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Read Histori Produksi Makanan</title>
</head>
<body>
<h1>List Histori Produksi Makanan</h1>
<br>
<table>
    <thead>
    <tr>
        <th>No</th>
        <th>Email Pengguna</th>
        <th>Waktu Awal</th>
        <th>Waktu Selesai</th>
        <th>Jumlah</th>
        <th>XP</th>
        <th>Produk Makanan</th>
        <th>Alat Produksi</th>
    </tr>
    </thead>
    <tbody>
    {% for histori_produksi_makanan in daftar_histori_produksi_makanan %}
    <tr>
        <td style="text-align: center">{{ forloop.counter }}</td>
        <td>{{ histori_produksi_makanan.0 }}</td>
        <td style="text-align: center">{{ histori_produksi_makanan.1 }}</td>
        <td style="text-align: center">{{ histori_produksi_makanan.2 }}</td>
        <td style="text-align: center">{{ histori_produksi_makanan.3 }}</td>
        <td style="text-align: center">{{ histori_produksi_makanan.4 }}</td>
        <td>{{ histori_produksi_makanan.5 }}</td>
        <td>{{ histori_produksi_makanan.6 }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
{% endblock content %}