{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

{% if request.session.role != null %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% if request.session.role == 'admin' %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Lumbung
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/lumbung/read">Lihat isi Lumbung</a></li>
                        <li><a class="dropdown-item" href="/transaksi_upgrade_lumbung/daftar_transaksi_upgrade_lumbung">List Transaksi Upgrade Lumbung</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Koin
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/coin/create_paket_koin">Buat Paket Koin</a></li>
                        <li><a class="dropdown-item" href="/coin/list_paket_koin">List Paket Koin</a></li>
                        <li><a class="dropdown-item" href="/coin/list_transaksi_paket_koin">List Transaksi Pembelian Koin</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Produk
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/produk/create">Buat Produk</a></li>
                        <li><a class="dropdown-item" href="/produk/read">List Produk</a></li>
                        <li><a class="dropdown-item" href="/produksi/create">Buat Produksi</a></li>
                        <li><a class="dropdown-item" href="/produksi/read">List Produksi</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Histori Produksi
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/histori_produk_tanaman/histori_tanaman">List Histori Produksi Tanaman</a></li>
                        <li><a class="dropdown-item" href="/histori_produksi_makanan/read">List Histori Produksi Makanan</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/authentication/user_logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    {% else %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Lumbung
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/lumbung/read">Lihat isi Lumbung</a></li>
                        <li><a class="dropdown-item" href="/transaksi_upgrade_lumbung/upgrade_lumbung">Buat Transaksi Upgrade Lumbung</a></li>
                        <li><a class="dropdown-item" href="/transaksi_upgrade_lumbung/daftar_transaksi_upgrade_lumbung">List Transaksi Upgrade Lumbung</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Koin
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/coin/list_paket_koin">List Paket Koin</a></li>
                        <li><a class="dropdown-item" href="/coin/list_transaksi_paket_koin">List Transaksi Pembelian Koin</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Produk
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/produk/read">List Produk</a></li>
                        <li><a class="dropdown-item" href="/produksi/read">List Produksi</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Proses produksi
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/histori_produk_tanaman/create_histori_tanaman">Produksi Tanaman</a></li>
                        <li><a class="dropdown-item" href="/histori_produk_tanaman/histori_tanaman">List Histori Produksi Tanaman</a></li>
                        <li><a class="dropdown-item" href="/histori_produksi_makanan/create">Produksi Produk Makanan</a></li>
                        <li><a class="dropdown-item" href="/histori_produksi_makanan/read">List Histori Produksi Makanan</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/authentication/user_logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    {% endif %}
</nav>
{% else %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Registrasi
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/register_admin">Registrasi Admin</a></li>
                    <li><a class="dropdown-item" href="/register_pengguna">Registrasi Pengguna</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/authentication/user_login">Login</a>
            </li>
        </ul>
    </div>
</nav>
{% endif %}