{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Produksi</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <style>
        .column {
            float: left;
            padding: 10px;
        }

        .left, .middle {
            width: 25%;
        }

        .right {
            width: 50%;
        }

        .error {
            animation: shake 0.3s;
        }
        @keyframes shake {
            0% { transform: translate(1px, 1px); }
            10% { transform: translate(-1px, -2px); }
            20% { transform: translate(-3px, 0px); }
            30% { transform: translate(3px, 2px); }
            40% { transform: translate(1px, -1px); }
            50% { transform: translate(-1px, 2px); }
            60% { transform: translate(-3px, 1px); }
            70% { transform: translate(3px, 1px); }
            80% { transform: translate(-1px, -1px); }
            90% { transform: translate(1px, 2px); }
            100% { transform: translate(1px, -2px); }
        }
    </style>
</head>
<body>
<h1>Buat produksi</h1>
<br>
<div class="container">
    <form method="POST" action="">
        {% csrf_token %}
        <p><label>Nama Produk Makanan:</label>
        <select name="id_produk_makanan">
            <option value="">- Pilih Produk -</option>
            {% for produk in nama_produk_makanan %}
            <option value="{{produk.0}}">{{produk.1}}</option>
            {% endfor %}
        </select></p>

        <p><label>Alat Produksi:</label>
            <select name="id_alat_produksi">
                <option value="">- Pilih Alat -</option>
                {% for produk in alat_produksi %}
                <option value="{{produk.0}}">{{produk.1}}</option>
                {% endfor %}
            </select></p>

        <p><label>Durasi Produksi (dalam menit):</label>
            <input type="number" name="durasi"></p>

        <p><label>Jumlah Produk yang Dihasilkan:</label>
            <input type="number" name="jumlah"></p>

        <br>
        <h6>Daftar Bahan yang Dibutuhkan:</h6>
        <div class="row" id="dynamic_form">
            <div class="form-group baru-data">
                <p><div class = "column left">
                        <label>Bahan:</label>
                        <select name = "bahan">
                            <option value="">- Pilih Bahan -</option>
                            {% for bahan in pilihan_bahan %}
                            <option value="{{bahan.0}}">{{bahan.1}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class = "column middle">
                        <label>Jumlah:</label>
                        <input type="number" name="jumlah_bahan" size="5">
                    </div>
                </p>
                <div class="button-group column right">
                    <button type="button" class="btn btn-success btn-tambah"><i class="fa fa-plus"></i></button>
                    <button type="button" class="btn btn-danger btn-hapus" style="display:none;"><i class="fa fa-times"></i></button>
                </div>
            </div>
        </div>
        <button type="submit" value="Submit">create</button>
    </form>
    {% if error != null %}
    <h6 class='error' style="color:red">{{error}}</h6>
    {% endif %}
</div>
<!-- Javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
    function addBahan(){
        var addrow = '<div class="form-group baru-data">\
                <p><div class = "column left">\
                        <label>Bahan:</label>\
                        <select name = "bahan">\
                            <option value="">- Pilih Bahan -</option>\
                            {% for bahan in pilihan_bahan %}\
                            <option value="{{bahan.0}}">{{bahan.1}}</option>\
                            {% endfor %}\
                        </select>\
                    </div>\
\
                    <div class = "column middle">\
                        <label>Jumlah:</label>\
                        <input type="number" name="jumlah_bahan" size="5">\
                    </div>\
                </p>\
                <div class="button-group column right">\
                    <button type="button" class="btn btn-success btn-tambah"><i class="fa fa-plus"></i></button>\
                    <button type="button" class="btn btn-danger btn-hapus""><i class="fa fa-times"></i></button>\
                </div>\
            </div>'
        $("#dynamic_form").append(addrow);
    }

    $("#dynamic_form").on("click", ".btn-tambah", function(){
        addBahan()
        $(this).css("display","none")
        $(this).parent().find(".btn-hapus").css("display","inline");
    })

    $("#dynamic_form").on("click", ".btn-hapus", function(){
        $(this).parent().parent('.baru-data').remove();
        var dynamic_field = $(".baru-data").length;
        if(dynamic_field==1){
            $(".btn-hapus").css("display","none")
            $(".btn-tambah").css("display","inline");
        }else{
            $('.baru-data').last().find('.btn-tambah').css("display","inline");
        }
    });
</script>
</body>
</html>
{% endblock content %}