{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produksi Detail</title>
</head>
<body>
<br>
<h1>Detail produksi</h1>
<br>
<table>
    <tr>
        <th>Nama Produk Makanan:</th>
        <td>{{detail_produksi.0}}</td>
    </tr>
    <tr>
        <th>Alat Produksi:</th>
        <td>{{detail_produksi.1}}</td>
    </tr>
    <tr>
        <th>Durasi Produksi (dalam menit):</th>
        <td>{{detail_produksi.2}}</td>
    </tr>
    <tr>
        <th>Jumlah Produk yang Dihasilkan:</th>
        <td>{{detail_produksi.3}}</td>
    </tr>
</table>
<br>
<h6>Daftar Bahan yang Dibutuhkan:</h6>
<table>
    <thead>
    <tr>
        <th>Bahan</th>
        <th>Jumlah</th>
    </tr>
    </thead>
    <tbody>
    {% for produk in membutuhkan_produk %}
    <tr>
        <td>{{ produk.0 }}</td>
        <td style="text-align: center">{{ produk.1 }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
{% endblock content %}