{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Read Produksi</title>
</head>
<body>
<h1>List produksi</h1>
<br>
<table>
    <thead>
    <tr>
        <th>No.</th>
        <th>Produk Makanan</th>
        <th>Alat Produksi</th>
        <th>Durasi Produksi</th>
        <th>Jumlah Produk Hasil Produksi</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for produksi in daftar_produksi %}
    <tr>
        <td style="text-align: center">{{ forloop.counter }}</td>
        <td>{{ produksi.0 }}</td>
        <td>{{ produksi.1 }}</td>
        <td style="text-align: center">{{ produksi.2 }}</td>
        <td style="text-align: center">{{ produksi.3 }}</td>
        <td><a href="{{produksi.4}}/{{produksi.5}}/detail">Detail</a><br>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
{% endblock content %}