{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Produksi</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    <h1>Update produksi</h1>
    <br>
    {{update_produksi_form.as_p}}
    <br>
    <button type="submit" value="Submit">update</button>
</form>

<br>
<h6>Daftar Bahan yang Dibutuhkan:</h6>
<table>
    <thead>
    <tr>
        <th>Bahan</th>
        <th>Jumlah</th>
    </tr>
    </thead>
    <tbody>
    {% for produk in membutuhkan_produk %}
    <tr>
        <td>{{ produk.0 }}</td>
        <td style="text-align: center">{{ produk.1 }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
{% endblock content %}