{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Paket Koin</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    <h1>Create Transaksi Paket Koin</h1>
    <br>
    <label for="paket_koin">Nama Paket</label>
    <p class="paket_koin" readonly>{{ create_transaksi_paket_koin_form.paket_koin }}</p>
    <label for="harga paket">Harga Paket</label>
    <p class="harga paket" readonly>{{ create_transaksi_paket_koin_form.harga_paket }}</p>
    <label for="jumlah_paket">Jumlah Pembelian</label>
    <p class="jumlah_paket">{{ create_transaksi_paket_koin_form.jumlah }}</p>
    <label for="cara bayar">Cara Pembayaran</label>
    <p class="cara bayar">{{ create_transaksi_paket_koin_form.cara_pembayaran }}</p>
    <br>
    <button type="submit" value="Submit">Create</button>
</form>
</body>
</html>
{% endblock content %}