{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Paket Koin</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    <h1>Create Paket Koin</h1>
    <br>
    {{create_paket_koin_form.as_p}}
    <br>
    <button type="submit" value="Submit">Create</button>
</form>
</body>
</html>
{% endblock content %}