{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Paket Koin</title>
  </head>
  <body>
    <table>
      <tr>
        <th>No</th>  
        <th>Waktu</th>
        <th>Jumlah</th>
        <th>Cara Pembayaran</th>
        <th>Paket_Koin</th>
        <th>Total_Biaya</th>
      <!-- TODO loop from Friend model -->
      {% for trans in daftar_transaksi_paket_koin %}
      </tr>
        <td>{{  forloop.counter }}</td>
        <td>{{  trans.1 }}</td>
        <td>{{  trans.2 }}</td>
        <td>{{  trans.3 }}</td>
        <td>{{  trans.4 }}</td>
        <td>{{  trans.5 }}</td>
      </tr>
      {% endfor %}
    </tr>
    </table>
  </body>
</html>
{% endblock content %}