{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Paket Koin</title>
  </head>
  <body>
    <table>
      <tr>
        <th>No</th>  
        <th>Jumlah Koin</th>
        <th>Harga</th>
        <th>Action</th>
      <!-- TODO loop from Friend model -->
      {% for koin in daftar_paket_koin %}
      </tr>
        <td>{{  forloop.counter }}</td>
        <td>{{  koin.0 }}</td>
        <td>{{  koin.1 }}</td>
        <td><a href="/coin/create_paket_koin">Create</a>
          <a href="/coin/update_paket_koin/{{ koin.0 }}">Update</a>
          <a href="/coin/delete_paket_koin/{{ koin.0 }}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tr>
    </table>
  </body>
</html>
{% endblock content %}