{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Paket Koin</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    <h1>Update Paket Koin</h1>
    <br>
    <label for="paket_koin">Nama Paket</label>
    <p class="paket_koin" readonly>{{ update_paket_koin_form.paket_koin }}</p>
    <label for="harga_baru">Harga Baru</label>
    <p class="harga_baru">{{ update_paket_koin_form.harga_baru }}</p>
    <br>
    <button type="submit" value="Submit">Update</button>
</form>
</body>
</html>
{% endblock content %}